@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --navigation-height: 9rem;
    }

    html {
        @apply bg-background font-regular;
        font-size: 62.5%;
    }
}

@layer utilities {
    .text-shadow {
        text-shadow: rgb(0 0 0 / 56%) 0px 3px 12px;
    }

    .text-gradient {
        background: linear-gradient(to right bottom, rgb(255, 255, 255) 30%, rgba(255, 255, 255, 0.38));
        background-clip: text;
        color: transparent;
    }
    
    .text-cta-gradient {
        background: linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.7) 100%);
        background-clip: text;
        color: transparent;
    }

    .text-deadline-cta-gradient {
        background: radial-gradient(50% 84% at 50% 96.6%, rgb(199, 233, 255) 0%, rgb(255, 255, 255) 100%);
        background-clip: text;
        color: transparent;
    }

    .software-3d-logo {
        transform: perspective(10000px) rotateX(20deg) rotateZ(-20deg) skewX(20deg) translateZ(0px);
    }
}

